@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
    overflow-x: scroll; /* Allow scrolling */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }


  /* index.css or your global stylesheet */
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    transform: scale(0.75); /* Scale the content to 75% */
    transform-origin: top left; /* Ensures the scaling starts from the top left */
    width: 133.33%; /* Compensate for scaling to avoid clipping */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  